.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;

  pointer-events: none;
}

.cart-container.open {
  pointer-events: auto;
}

.gray-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--foreground);

  opacity: 0;
  transition: opacity 300ms ease;
}
.cart-container.open .gray-screen {
  opacity: 0.4;
}

.cart-panel {
  position: absolute;
  padding: 8px 16px;

  display: flex;
  flex-direction: column;

  background-color: var(--background);
  right: 0;
  width: auto;
  height: 100vh;

  transform: translateX(100%);
  transition: transform 300ms ease;
}

.cart-container.open .cart-panel {
  transform: translateX(0);
}

.divider {
  width: 100%;
  height: var(--border-width);
  background-color: var(--border);
  margin: 8px 0 16px;
}

.items-in-cart-list {
  flex-grow: 1;
  overflow-y: auto;

  scrollbar-width: none;

  .item-in-cart-card {
    margin: 8px 16px 16px 16px;
    padding: 0 16px 0 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    background-color: var(--card);

    img {
      aspect-ratio: 1/1;
      height: 72px;
      border-radius: var(--radius) 0 0 var(--radius);
    }
  }
}

.payout {
  margin: 16px 0 32px;
}
