.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  table-layout: fixed;
  gap: 16px 86px;
  margin: 128px 0;
  height: auto;
  box-sizing: border-box;

  h1 {
    font-size: clamp(48px, 7.5vw, 100px);
  }

  img {
    aspect-ratio: 1/1;
    width: 80%;
    object-fit: cover;
    border: var(--border-width) solid var(--border);
    border-radius: var(--radius);
    box-shadow: calc(2 * var(--border-width)) calc(2 * var(--border-width))
      var(--border);
  }

  .shop-and-shipping {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  button {
    font-size: 1.5rem;
    background-color: var(--foreground);
    color: var(--background);
  }
}

@media (max-width: 1024px) {
  .hero {
    grid-template-columns: 1fr;

    h1 {
      font-size: 3rem;
    }
  }
}
