.header {
  position: sticky;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  border-bottom: var(--border-width) solid var(--border);
  background-color: var(--background);

  box-sizing: border-box;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  .menu {
    display: flex;
    justify-items: center;
    gap: 32px;
  }

  .logo-container {
    display: inline-flex;
    align-items: center;
    gap: 4px;

    h1 {
      margin: 0;
      line-height: 1;
    }
  }

  @media (max-width: 726px) {
    .menu {
      display: none;
    }
  }
}

@media (max-width: 726px) {
  .header {
    grid-template-columns: 1fr 1fr;
  }
}

.layout {
  padding-left: var(--indent);
  padding-right: var(--indent);
}

.divider {
  width: 100%;
  height: var(--border-width);
  background-color: var(--border);
}

.card-padding {
  padding: 18px 24px;
}

.align-left {
  justify-self: start;
}
.align-center {
  justify-self: center;
}
.align-right {
  justify-self: end;
}
