.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 32px;
  border-bottom: var(--border-width) solid var(--border);
  background-color: var(--background);

  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu {
    display: flex;
    gap: 32px;
  }

  .logo-container {
    display: inline-flex;
    align-items: center;
    gap: 4px;

    h1 {
      margin: 0;
      line-height: 1;
    }
  }

  /* .cart {
    background-color: var(--primary);
    color: var(--background);
    padding: 6px 12px;
    border-radius: var(--radius);

    cursor: pointer;
  } */

  /* .menu p {
    margin: 0;
    cursor: pointer;
  } */
}

body {
  margin: 0 clamp(32px, 16vw, 256px);
  padding: 0;
}
@media (max-width: 1024px) {
  body {
    margin: 0 32px
  }
}
