@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=LXGW+Marker+Gothic&display=swap');

html {
  font-family: 'LXGW Marker Gothic', sans-serif;
  font-size: var(--font-size);
}

p {
  font-family: sans-serif;
}