:root {
  --background: #fffde8;
  --foreground: #1a1033;
  --primary: #ff3ea5;
  --secondary: #b9f5a0;
  --border: #1a1033;

  --font-size: 16px;
  --radius: 1rem;
  --border-width: 2px;

  padding: 0;
  margin: 0;

  ::selection {
    background-color: var(--primary); /* Цвет фона выделения */
    color: var(--background); /* Цвет текста при выделении */
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  padding: 72px 0 0;
  margin: 0;
}

p {
  font-size: var(--font-size);
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
}

h2 {
  font-size: 1.25rem;
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 1.125rem;
}