.collection {
  scroll-margin-top: 80px;
}

.selling-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 1024px) {
  .selling-items {
    grid-template-columns: 1fr 1fr;
  }
}


@media (max-width: 724px) {
  .selling-items {
    grid-template-columns: 1fr;
  }
}
